In [100]:
from sklearn.cluster import KMeans

In [259]:
import string
import os
import docx2txt
import matplotlib as plt
import pandas as pd
from nltk.corpus import stopwords

In [102]:
def getListOfFiles(dirName):
    # create a list of file and sub directories 
    # names in the given directory 
    listOfFile = os.listdir(dirName)
    allFiles = list()
    # Iterate over all the entries
    for entry in listOfFile:
        # Create full path
        fullPath = os.path.join(dirName, entry)
        # If entry is a directory then get the list of files in this directory 
        if os.path.isdir(fullPath):
            allFiles = allFiles + getListOfFiles(fullPath)
        else:
            allFiles.append(fullPath)
                
    return allFiles

In [216]:
files = [x for x in getListOfFiles('./data') if ('.docx' in x) and ('Sources for' not in x)]

In [217]:
text = [docx2txt.process(file) for file in files]

In [218]:
en_stopwords = stopwords.words('english')

def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]
    
    # Check characters to see they are not new line
    nopunc = [char for char in mess if '\n' not in char]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return [word for word in nopunc.split() if word.lower() not in en_stopwords]

In [219]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

In [282]:
cv = CountVectorizer(analyzer=text_process).fit(text)
messages = cv.transform(text)
tfidf = TfidfTransformer().fit(messages).transform(messages)

In [304]:
kmeans = KMeans(n_clusters=7).fit(tfidf)

In [305]:
kmeans.labels_

array([1, 5, 6, 4, 4, 1, 3, 2, 6, 6, 1, 4, 4, 4, 5, 2, 2, 5, 1, 1, 4, 5,
       4, 1, 1, 4, 1, 1, 1, 2, 4, 4, 4, 4, 5, 4, 1, 6, 5, 0, 5, 6, 2, 1,
       4, 1, 6, 6, 6, 6, 6, 2, 5, 1, 1, 1, 6, 0, 5, 5, 5, 5, 5, 5, 5, 4,
       6, 5, 2, 5, 2, 5, 2, 5, 5, 5, 6, 6, 2, 2, 2, 2, 2, 4, 4, 6, 4, 5,
       5, 0, 2, 4, 1, 1, 1, 0, 5, 2, 6, 1, 5, 5, 5, 3, 4, 5, 1, 3, 0, 1,
       2, 4, 5, 6, 2, 1, 1, 1, 1, 5, 1, 1, 1, 4, 1, 1, 1, 1, 2, 5, 5, 0,
       5, 2, 4, 4, 1, 1, 3, 0, 4, 5, 4, 6, 0, 5, 4, 5, 4, 5, 5, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 5, 5, 4, 4, 4, 4, 5, 5, 4, 4, 5, 0, 2, 4, 1, 5,
       1, 4, 5, 4, 5, 5, 6, 4, 4, 5, 4, 3, 6, 5, 1, 5, 1, 1, 4, 4, 4, 5,
       5, 4, 0, 4, 3, 3, 3, 4, 1, 5, 5, 2, 5, 1, 5, 1, 4, 6, 5, 4, 1, 0,
       4, 4, 3, 3, 3, 1, 6, 6, 4, 1, 1, 3, 2, 4, 4, 4, 2, 4, 2, 1, 5, 4,
       1, 5, 2, 5, 5, 1, 4, 2, 2, 1, 1, 1], dtype=int32)

In [306]:
def titles(cl):
    members = [index for index in range(len(kmeans.labels_)) if kmeans.labels_[index] == cl]
    return [files[index] for index in members]

In [307]:
titles(2)

['./data/9th Hon Research Packet  2015.docx',
 './data/AP Physics C Faradays Law Lab(1).docx',
 './data/AP Physics C Faradays Law Lab.docx',
 './data/Argumentative Essay Always Running.docx',
 './data/Classroom/16 PD 03 HON ENGLISH 9A S1 427/Speak Socratic Seminar - Hassan Syyid.docx',
 './data/Classroom/8th Grade US Period 2/14-15 Seminar Summative Exit Ticket.docx - Hassan_.docx',
 './data/Classroom/H English 10B Period 1/Goals for Semester 2 - Hassan Syyid.docx',
 './data/Classroom/H English 10B Period 1/Peer Critique Research Essay - Hassan Syyid.docx',
 './data/Classroom/Honors English 11A Period 3/Hassan Syyid - Gender articles assignment.docx',
 './data/Classroom/Honors English 9B Period 1/Part relates to Whole Rubric - Hassan Syyid.docx',
 './data/Classroom/Honors English 9B Period 1/Theme Argument Essay - Hassan Syyid.docx',
 './data/Classroom/Honors English 9B Period 1/Tips for Building an Outline - Hassan Syyid(1).docx',
 './data/Classroom/Honors English 9B Period 1/Tips for Building an Outline - Hassan Syyid.docx',
 './data/Classroom/PD 08 H Bio/Karyotyping Activity Computer Lab 2015 - Hassan Sy.docx',
 './data/Copy of Understanding Writing Style.docx',
 './data/Emulating Children_s Author Writing Style Reflecti.docx',
 './data/Format for Speaker_s outline.docx',
 './data/Goals for Semester 2 - Quarter 4 - Hassan Syyid.docx',
 './data/Grade 10/BC Calc/Project/BC Calc Project Ideas.docx',
 './data/Grade 10/Programming/Semester 1/2D Array/Matrix multiplication class.docx',
 './data/Hassan Syyid - Understanding Writing Style.docx',
 './data/Reading and Internet.docx',
 './data/The Anatomy of Disinformation Prompt.docx',
 './data/Theories of Motivation.docx',
 './data/Unit 1 Project.docx',
 './data/Untitled document(2).docx',
 './data/Worksheet A17.1 - Bubble Sort.doc.docx',
 './data/Worksheet A17.2 - Selection Sort.doc.docx']

In [277]:
# text[1]

Empty DataFrame
Columns: []
Index: []